<%= render 'admin/admin' %>

<div class="container mt-5">

  <h1>商品新規登録ページ</h1>

  <%= form_with model: @item, url: admin_items_path, local:true do |f| %>

  <div class="field row mt-3 ml-3 mt-5">
   <label class="col-md-2">商品画像</label>
   <div class="col">
    <%= f.attachment_field :image %>
   </div>
  </div>

  <div class="field row mt-3 ml-3 mt-5">
   <label for="name" class="col-md-2">商品名</label>
   <div class="col">
    <%= f.text_field :name, autofocus: true, id:"name" %>
   </div>
  </div>

  <div class="field row mt-3 ml-3 mt-5">
   <label for="introduction" class="col-md-2">商品説明</label>
   <div class="col">
    <%= f.text_field :introduction, autofocus: true, id:"introduction" %>
   </div>
  </div>

  <div class="field row mt-3 ml-3 mt-5">
   <label for="price" class="col-md-2">税抜価格</label>
   <div class="col">
    <%= f.text_field :price, autofocus: true, id:"price" %> 円
   </div>
  </div>

  <div class="row mt-3 ml-3 mt-5">
   <div class="col-md-2"></div>
   <div class="col">
    <%= f.submit "新規登録", class:"btn btn-outline-primary" %>
   </div>
  </div>

 <% end %>

</div>