<%= render 'admin/admin' %>

<div class="container mt-5">

  <h2>管理者ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="field row mt-3 ml-3 mt-5">
      <div class="col-md-2">
        <%= f.label :メールアドレス %>
      </div>
      <div class="col">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>

    <div class="field row mt-3 ml-3 mt-3">
      <div class="col-md-2">
        <%= f.label :パスワード %>
      </div>
      <div class="col">
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    </div>

    <!--<% if devise_mapping.rememberable? %>-->
    <!--  <div class="field">-->
    <!--    <%= f.check_box :remember_me %>-->
    <!--    <%= f.label :remember_me %>-->
    <!--  </div>-->
    <!--<% end %>-->

    <div class="actions row mt-3 ml-3 mt-3">
      <div class="col-md-2"></div>
      <div class="col">
        <%= f.submit "ログイン", class:"btn btn-outline-primary" %>
      </div>
    </div>

  <% end %>

  <!--<%= render "admin/shared/links" %>-->

</div>