<header class="border-bottom border-dark" style="padding:20px">
      <% if admin_signed_in? %>
        <ul>
          <li class="btn btn-outline-dark">
            <%= link_to "商品一覧", admin_items_path, class:"text-dark" %>
          </li>
          <li class="btn btn-outline-dark">
            <%= link_to "会員一覧", admin_customers_path, class:"text-dark" %>
          </li>
          <li class="btn btn-outline-dark">
            <%= link_to "商品履歴一覧", admin_root_path, class:"text-dark" %>
          </li>
          <li class="btn btn-outline-dark">
            <%= link_to "ログアウト", destroy_admin_session_path, method: 'delete', class:"text-dark" %>
          </li>
        </ul>
      <% else %>
        <ul>
          <%#= link_to "About", about_path %>
          <li class="btn btn-outline-dark">
            <%= link_to "商品一覧", admin_items_path, class:"text-dark" %>
          </li>
          <li class="btn btn-outline-dark">
            <%= link_to "新規登録", new_admin_registration_path, class:"text-dark" %>
          </li>
          <li class="btn btn-outline-dark">
            <%= link_to "ログイン", new_admin_session_path, class:"text-dark" %>
          </li>
        </ul>
      <% end %>
</header>