<%= render 'admin/admin' %>

<h2>
  <%= @customer.last_name + @customer.first_name %>さんの会員情報編集
</h2>

<label>会員ID</label>
<div>
  <%= @customer.id %>
</div>

<%= form_with model: @customer, url: admin_customer_path(@customer), local:true do |f| %>

  <label for="name">氏名</label>
  <div>
   <%= f.text_field :last_name, autofocus: true, id:"name" %>
   <%= f.text_field :first_name, autofocus: true, id:"name" %>
  </div>

  <label for="kana">フリガナ</label>
  <div>
   <%= f.text_field :last_name_kana, autofocus: true, id:"kana" %>
   <%= f.text_field :first_name_kana, autofocus: true, id:"kana" %>
  </div>

  <label for="postal_code">郵便番号</label>
  <div>
   <%= f.text_field :postal_code, autofocus: true, id:"postal_code" %>
  </div>

  <label for="address">住所</label>
  <div>
   <%= f.text_field :address, autofocus: true, id:"address" %>
  </div>

  <label for="telephone_number">電話番号</label>
  <div>
   <%= f.text_field :telephone_number, autofocus: true, id:"telephone_number" %>
  </div>

  <label for="email">メールアドレス</label>
  <div>
   <%= f.email_field :email, autofocus: true, id:"email" %>
  </div>

  <label for="is_active">会員ステータス</label>
  <div>
   <% if @customer.is_active == true %>
    <%= f.radio_button :is_active, :true, checked: true %>
    <%= f.label :is_active, "有効" %>
    <%= f.radio_button :is_active, :false %>
    <%= f.label :is_active, "退会" %>
   <% else %>
    <%= f.radio_button :is_active, :true %>
    <%= f.label :is_active, "有効" %>
    <%= f.radio_button :is_active, :false, checked: true %>
    <%= f.label :is_active, "退会" %>
   <% end %>
  </div>

  <div>
   <%= f.submit "変更を保存" %>
  </div>

<% end %>