<%= render 'admin/admin' %>

<div class="container mt-5">

  <h2>会員一覧</h2>

  <table class="table table-striped col mr-5">
    <thead>
      <tr>
        <th class="text-center">会員ID</th>
        <th class="text-center">氏名</th>
        <th class="text-center">メールアドレス</th>
        <th class="text-center">ステータス</th>
      </tr>
    </thead>
    <tbody>
     <% @customers.each do |customer| %>
     <tr>
      <td class="text-center"><%= customer.id %></td>
      <td class="text-center"><%= link_to customer.last_name + customer.first_name, admin_customer_path(customer), class: "text-dark border-bottom border-dark" %></td>
      <td class="text-center"><%= customer.email %></td>
      <td class="text-center">
        <% if customer.is_active == false %>
         <div>退会</div>
        <% else %>
         <div>有効</div>
        <% end %>
      </td>
     </tr>
     <% end %>
    </tbody>
  </table>
  <%= paginate @customers %>

</div>