<%= render 'admin/admin' %>

<h2>
  <%= @customer.last_name + @customer.first_name %>さんの会員詳細
</h2>

<div>会員ID</div>
<div>
  <%= @customer.id %>
</div>

<div>氏名</div>
<div>
  <%= @customer.last_name + @customer.first_name %>
</div>

<div>フリガナ</div>
<div>
  <%= @customer.last_name_kana + @customer.first_name_kana %>
</div>

<div>郵便番号</div>
<div>
  <%= @customer.postal_code %>
</div>

<div>住所</div>
<div>
  <%= @customer.address %>
</div>

<div>電話番号</div>
<div>
  <%= @customer.telephone_number %>
</div>

<div>メールアドレス</div>
<div>
  <%= @customer.email %>
</div>

<%= link_to "編集する", edit_admin_customer_path %>

<%= link_to "注文履歴一覧を見る", admin_root_path %>