<%= render 'admin/admin' %>

<div class="container mt-5">

  <h2 class="row">注文履歴詳細</h2>

  <div class="field row mt-3 ml-3 mt-5">
    <div class="col-md-2">購入者</div>
    <div class="col"><%= link_to @order.customer.last_name + @order.customer.first_name, admin_customer_path(@order.customer), class:"text-dark border-bottom border-dark" %></div>
  </div>

  <div class="field row mt-3 ml-3 mt-3">
    <div class="col-md-2">注文日</div>
    <div class="col"><%= @order.created_at.to_s(:datetime_jp) %></div>
  </div>

  <div class="field row mt-3 ml-3 mt-3">
    <div class="col-md-2">配送先</div>
    <div class="col"><%= "〒" + @order.customer.postal_code + "　" + @order.customer.address + "　" + @order.customer.last_name + @order.customer.first_name %></div>
  </div>

  <div class="field row mt-3 ml-3 mt-3">
    <div class="col-md-2">支払方法</div>
    <div class="col"><%= @order.payment_method %></div>
  </div>

  <div class="row mt-5 ml-3">
    <table class="table table-striped col mr-5">
      <thead>
        <tr>
          <th>商品</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
        <% @order_details.each do |od| %>
        <tr>
          <td><%= od.item.name %></td>
          <td><%= (od.item.price * 1.1).to_i.to_s(:delimited) %></td>
          <td><%= od.amount %></td>
          <td><%= (od.item.price * 1.1 * od.amount).to_i.to_s(:delimited) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <div class-"col">
      <div class="row">
        <div>
          商品合計<%= "　　　" + (@order.total_payment - 800).to_i.to_s(:delimited) %>円
        </div>
      </div>
      <div class="row">
        <div>
          <pr>送料　　　　　<%= 800 %>円</pr>
        </div>
      </div>
      <div class="row">
        <div>
          請求金額合計<%= "　" + @order.total_payment.to_i.to_s(:delimited) %>円
        </div>
      </div>
    </div>
  </div>

</div>
