<%= render 'public/public' %>

<div class="container mt-5">

  <h2>ログイン</h2>

  <div class="h2 mt-5">会員の方はこちらからログイン</div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="field row mt-3 ml-3">
      <div class="col-md-2">
        <%= f.label :メールアドレス %><br />
      </div>
      <div class="col">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>

    <div class="field row mt-3 ml-3">
      <div class="col-md-2">
        <%= f.label :パスワード %><br />
      </div>
      <div class="col">
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    </div>

    <!--<% if devise_mapping.rememberable? %>-->
    <!--  <div class="field">-->
    <!--    <%= f.check_box :remember_me %>-->
    <!--    <%= f.label :remember_me %>-->
    <!--  </div>-->
    <!--<% end %>-->

    <div class="actions row mt-3 ml-3">
      <div class="col-md-2"></div>
      <div class="col"><%= f.submit "ログイン", class:"btn btn-outline-primary" %></div>
    </div>
  <% end %>

  <div class="h2 mt-5">会員登録がお済みでない方</div>
    <div class="row mt-3 ml-3">
      <div class="col-md-4">
        <%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。
      </div>
    </div>

  <!--<%= render "devise/shared/links" %>-->

</div>
