<%= render 'public/public', customer:@customer %>

<h2>注文情報確認</h2>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th></th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% array = [] %>
    <% @cart_items.each do |cart_item| %>
    <tr>
      <td><%= attachment_image_tag @item, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></td>
      <td><%= cart_item.item.name %></td>
      <td><%= (cart_item.item.price*1.1).to_i.to_s(:delimited) %></td>
      <% array << cart_item.item.price*1.1*cart_item.amount %>
      <td><%= cart_item.amount %></td>
      <td><%= (cart_item.item.price*1.1*cart_item.amount).to_i.to_s(:delimited) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td>送料</td>
      <td>800</td>
    </tr>
    <tr>
      <td>商品合計</td>
      <td><%= (array.sum).to_i.to_s(:delimited) %></td>
    </tr>
    <tr>
      <td>請求金額</td>
      <td><%= (array.sum + 800).to_i.to_s(:delimited) %></td>
    </tr>
  </tbody>
</table>

<h2>支払情報</h2>
<div><%= @order.payment_method %></div>

<h2>お届け先</h2>
<div><%= @order.address %></div>

<div>
  <%= link_to "注文を確定する", orders_path, method: :post %>
</div>