<%= render 'public/public', customer:@customer %>

<div class="container mt-5">

<h2>注文情報入力</h2>

  <div>
    <%= form_with model: @order, url: orders_confirm_path, local:true do |f| %>

      <h3 class="mt-5">支払方法</h3>
      <%#= f.select :payment_method, [["クレジットカード",0], ["銀行振込",1]] %>
      <div class="mt-3">
        <%= f.radio_button :payment_method, :クレジットカード %>
			  <%= f.label :payment_method, "クレジットカード" %>
      </div>
      <div class="mt-3">
        <%= f.radio_button :payment_method, :銀行振込 %>
			  <%= f.label :payment_method, "銀行振込" %>
      </div>

      <h3 class="mt-5">お届け先</h3>
      <div class="mt-3">

        <%= f.radio_button :address, @customer.address, checked: true %>
        <%= f.label :address, "ご自身の住所", {value: :address} %><br>
        <%= "　〒" + @customer.postal_code + "　" + @customer.address %><br>
        <%= "　　" + @customer.last_name + @customer.first_name %><br>

        <div class="mt-3">
          <%= f.radio_button :address, @order.address %>
          <%= f.label :address, "新しいお届け先" %><br>
        </div>
        <div class="row">
          <div class="field col-md-3">
            郵便番号（ハイフンなし）
          </div>
          <div class="col">
            <%= f.text_field :postal_code %>
          </div>
        </div>
        <div class="row mt-2">
          <div class="field col-md-3">
            住所
          </div>
          <div class="col">
            <%= f.text_field :address %>
          </div>
        </div>
        <div class="row mt-2">
          <div class="field col-md-3">
            宛名
          </div>
          <div class="col">
            <%= f.text_field :name %>
          </div>
        </div>

      </div>

      <div class="mt-5">
        <%= f.submit "確認画面へ進む", class: 'btn btn-outline-primary' %>
      </div>

    <% end %>
  </div>

  </div>