<%= render 'public/public', customer:@customer %>

<div class="container mt-5">

  <h2>注文履歴詳細</h2>

  <div class="row mt-5">
    <div class="col">
      <h2>注文情報</h2>
        <table class="table table-striped mr-5">
          <thead>
            <tr>
              <th class="text-center">注文日</th>
              <th class="text-center">配送先</th>
              <th class="text-center">支払方法</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center"><%= @order.created_at.to_s(:datetime_jp) %></td>
              <td class="text-center">
                <%= "〒" + @order.postal_code %><br>
                <%= @order.address %><br>
                <%= @order.name %>
              </td>
              <td class="text-center"><%= @order.payment_method %></td>
            </tr>
          </tbody>
        </table>
    </div>

    <div class="col-md-4">
      <h2>請求情報</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-center">商品合計</th>
              <th class="text-center">配送料</th>
              <th class="text-center">ご請求額</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center"><%= (@order.total_payment - 800).to_i.to_s(:delimited) %></td>
              <td class="text-center">
                <%= 800 %>
              </td>
              <td class="text-center"><%= @order.total_payment.to_i.to_s(:delimited) %></td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>

  <div class="mt-5">
    <h2>注文内容</h2>
      <table class="table table-striped mr-5">
      <thead>
        <tr>
          <th class="text-center">商品</th>
          <th class="text-center">単価（税込）</th>
          <th class="text-center">個数</th>
          <th class="text-center">小計</th>
        </tr>
      </thead>
      <tbody>
        <% @order_details.each do |od| %>
        <tr>
          <td class="text-center"><%= od.item.name %></td>
          <td class="text-center"><%= (od.item.price * 1.1).to_i.to_s(:delimited) %></td>
          <td class="text-center"><%= od.amount %></td>
          <td class="text-center"><%= (od.item.price * 1.1 * od.amount).to_i.to_s(:delimited) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>